<div id="detail_info">
  <div id="detail_info_left">
    <div id="detail_info_mainimage">
      <img src="https://domnc9j4gfidk.cloudfront.net/image/<%= Applicants[0].username%>/<%= Applicants[0].file%>">
    </div>
    <div id="detail_info_info">
      <p><b>My Information</b></p>
      <ul>
        <li>
          <%= Applicants[0].realname%>
        </li>
        <li>
          <%= Applicants[0].sex%>
        </li>
        <li>
          <%= Applicants[0].birth%>
        </li>
        <li>
          <%= Applicants[0].username%>
        </li>
        <li>
          <%= Applicants[0].phone%>
        </li>
      </ul>
    </div>
  </div>
  <div id="detail_info_middle">

  </div>
  <div id="detail_info_right">
      <div id="detail_info_style">
        <%= Applicants[0].style%>
      </div>
      <div id="update_info">
        정보수정 버튼
      </div>
  </div>
</div>
<div id="detail_status">
  <div id="detail_status_mystatus">
    <p><b>My Status</b></p>
  </div>
  <div id="detail_status_radio">
    <label><input type="radio" name="status" value="언제든지 바로 일할 수 있어요">언제든지 바로 일할 수 있어요</label>
    <label><input type="radio" name="status" value="지금은 좀 바빠요">지금은 좀 바빠요</label>
  </div>
  <div id="detail_status_admincheck">

  </div>
</div>
