<div id="detail_info">
  <div id="detail_info_left">
    <div id="detail_info_mainimage">
      <img src="https://domnc9j4gfidk.cloudfront.net/image/<%= Applicants[0].username%>/<%= Applicants[0].file%>">
    </div>

  </div>
  <div id="detail_info_right">
    <p id="detail_info_right_title"><b>Information</b></p>
    <div id="detail_status">
      <p>
        ○ <%= Applicants[0].status%>
      </P>

    </div>

    <div id="detail_info_info">
      <ul>
        <li>
          <%= Applicants[0].realname%>
        </li>
        <li>
          <%= Applicants[0].sex%>
        </li>
        <li>
          <%= Applicants[0].birth%>
        </li>
        <li>
          <%= Applicants[0].username%>
        </li>
        <li>
          <%= Applicants[0].phone%>
        </li>
      </ul>
    </div>
    <div id="detail_info_style">
      <%= Applicants[0].style%>
    </div>
    <div id="detail_info_tags">
      <% for (let i=0; i<Applicants[0].userTags.length; i++) { %>
        <div class="userTags">
            <p><%= Applicants[0].userTags[i] %></p>
            <form class="" action="/detachTag/<%= Applicants[0].username%>/<%= Applicants[0].userTags[i]%>/<%= user._id%>" method="post">
              <label for="tag<%=i%>"><img src="/images/deleteTag.png" alt=""></label>
              <input id="tag<%=i%>" type="submit" name="" value="태그 삭제하기">
            </form>
        </div>
      <% } %>
    </div>
    <div id="detail_info_update">
      <p>최종 업데이트 : <%= Applicants[0].updateDate %></p>
    </div>
  </div>
</div>


<div id="admin_manage">
  <% if (login == true) { %>
    <% if (user.isAdmin == true) { %>
      <a href="/adminPage/<%= Applicants[0].categories[0]%>/1">전체 목록 보기</a>

      <p>이 사용자 관리자로 만들기</p>
      <a href="/appointAdmin/<%= Applicants[0].username %>">관리자 임명</a> <br>

      <br><br><br>
      <button onclick="captureProf()">포트폴리오 이미지 다운로드</button>
      <br><br><br>
      <a href="/deleteApplicant/<%= Applicants[0]._id %>">지원자 삭제</a>
    <% } %>
  <% } %>
</div>
