<span id="applicantNumberforcapture" style="display:none;"><%= Applicants[0].applicantNumber %></span>
<span id="updateDateforcapture" style="display:none;"><%= Applicants[0].updateDate %></span>
<div id="admin_manage">
  <div id="admin_manage_adminPage">
    <a href="/adminPage/<%= Applicants[0].categories[0]%>/1"><img src="/images/06_view_03.jpg" alt=""></a>
  </div>
  <div id="admin_manage_nav">
    <p><b>사용자 관리 메뉴</b></p>
    <label>|</label>
    <div id="admin_manage_nav_items">
      <ul>
        <li>
          <a href="/appointAdmin/<%= Applicants[0].username %>">관리자 임명</a> <br>
        </li>
        <li>
          <button onclick="captureProf()">포트폴리오 다운받기</button>
        </li>
        <li>
          <a href="/deleteApplicant/<%= Applicants[0]._id %>">지원자 삭제</a>
        </li>
      </ul>
    </div>

  </div>
</div>
<div id="detail_info">
  <div id="detail_info_left">
    <div id="detail_info_mainimage">
      <img src="https://domnc9j4gfidk.cloudfront.net/image/<%= Applicants[0].username%>/<%= Applicants[0].file%>">
    </div>

  </div>
  <div id="detail_info_right">
    <p id="detail_info_right_title"><b>Information</b></p>
    <div id="detail_status">
      <p>
        ○ <%= Applicants[0].status%>
      </P>

    </div>

    <div id="detail_info_info">
      <ul>
        <li>
          <%= Applicants[0].realname%>
        </li>
        <li>
          <%= Applicants[0].sex%>
        </li>
        <li>
          <%= Applicants[0].birth%>
        </li>
        <li>
          <%= Applicants[0].username%>
        </li>
        <li>
          <%= Applicants[0].phone%>
        </li>
      </ul>
    </div>
    <div id="detail_info_style">
      <p><%= Applicants[0].style%></p>
    </div>

    <div id="detail_info_url">
      <p>포트폴리오 URL : </p>
      <% if (Applicants[0].url != undefined) {%>
          <a href="<%= Applicants[0].url %>" target="_blank"><%= Applicants[0].url %></a>
      <% } else { %>
          <p>포트폴리오 url 없음</p>
      <% } %>
    </div>
    <div id="detail_info_update">
      <p>최종 업데이트 : <%= Applicants[0].updateDate %></p>
    </div>
  </div>
</div>
