<table class="tg" style="width:100%">

    <tr>
      <th class="tg-cly1">이름</th>
      <th class="tg-cly1">이메일</th>
      <th class="tg-cly1">대표 이미지</th>
      <th class="tg-cly1">지원 경로</th>
      <th class="tg-cly1">회원 가입 날짜</th>
      <th class="tg-cly1">삭제 버튼</th>
    </tr>
    <tr>
      <td class="tg-cly1" style="width:10%"> <%= Applicants[0].realname%> </td>
      <td class="tg-cly1" style="width:10%"> <a href="/applicants/<%= Applicants[0].username%>"><%= Applicants[0].username%></a></td>
      <td class="tg-cly1" style="width:20%" rowspan="3"><img src="https://domnc9j4gfidk.cloudfront.net/image/<%= Applicants[0].username%>/<%= Applicants[0].file%>" width="150px" , height="150px" ) alt=""> </td>
      <td class="tg-cly1" style="width:10%"><%= Applicants[0].route%></td>
      <td class="tg-cly1" style="width:30%"><%= Applicants[0].createDate%></td>
      <td class="tg-cly1" style="width:10%"> <a href="/deleteApplicant/<%= Applicants[0]._id %>">지원자 삭제</a></td>
    </tr>
    <tr>
      <th class="tg-lboi">점수?</th>
      <th class="tg-cly1">지원분야</th>
      <th class="tg-cly1">포트폴리오</th>
      <th class="tg-cly1">최근 변경 날짜</th>
      <th class="tg-cly1">태그</th>
    </tr>
    <tr>
      <td class="tg-cly1" style="width:10%"></td>
      <td class="tg-cly1" style="width:10%"><%= Applicants[0].categories%></td>

      <td class="tg-cly1" style="width:20%">포트폴리오<a href="https://domnc9j4gfidk.cloudfront.net/image/<%= Applicants[0].username%>/<%= Applicants[0].portfolio%>"><%= Applicants[0].portfolio%></a> </td>
      <td class="tg-cly1" style="width:20%"><%= Applicants[0].updateDate%></td>
      <td class="tg-cly1" style="width:20%">
        <% for (let i=0; i<Applicants[0].userTags.length; i++) { %>
          <span><%= Applicants[0].userTags[i] %></span><br>
          <form class="" action="/detachTag/<%= Applicants[0].username%>/<%= Applicants[0].userTags[i]%>/<%= user._id%>" method="post">
            <input type="submit" name="" value="태그 삭제하기">
          </form>
        <% } %>
      </td>
    </tr>
</table>

<div>
  <% if (login == true) { %>
    <% if (user.isAdmin == true) { %>
      <a href="/adminPage/<%= Applicants[0].categories[0]%>/1">전체 목록 보기</a>

      <p>이 사용자 관리자로 만들기</p>
      <a href="/appointAdmin/<%= Applicants[0].username %>">관리자 임명</a>

      <p>tag 부여하기</p>
      <% for (let i=0; i<curCategory.hashTags.length; i++) { %>
        <a href="/attachTag/<%= Applicants[0].username %>/<%= curCategory.hashTags[i]%>/<%= user._id%>"><%= curCategory.hashTagsName[i]%></a>
      <% } %>


    <% } %>
  <% } %>
</div>
