<% for(var i=0; i<Applicants.length; i++) { %>
  <div class="applicant_list_profile">
    <div class="applicant_list_profile_mainimg">
      <img src="https://domnc9j4gfidk.cloudfront.net/image/<%= Applicants[i].username%>/<%= Applicants[i].file%>">
    </div>
    <div class="applicant_list_detail">
      <div class="applicant_list_info">
        <div class="applicant_list_info_name">
          <div class="applicant_list_info_name_left">
            <a href="/applicants/<%= Applicants[i].username%>"><%= Applicants[i].realname%></a>
            <p><%= Applicants[i].sex %>&nbsp|&nbsp</p>
            <p><%= Applicants[i].birth %></p>
            <% if (Applicants[i].isAdmin) { %>
              <p>&nbsp&nbsp&nbsp&nbsp관리자</p>
            <% } %>
            <% if (curAdmin.scrapList.includes(Applicants[i]._id)) { %>
              <p>★</p>
            <% } %>
            <input id="applicantId<%=i%>" type="text" hidden name="" value="<%= Applicants[i]._id %>">
          </div>
          <div class="applicant_list_info_name_right">

            <% if (curAdmin.scrapList.includes(Applicants[i]._id)) { %>
              <input type="button" onclick="unscrapApplicant(<%=i%>)" value="즐겨찾기 해제">
            <% } else{ %>
              <input type="button" onclick="scrapApplicant(<%=i%>)" value="즐겨찾기 등록">
            <% } %>

            &nbsp&nbsp|&nbsp&nbsp
            <input type="button" onclick="deleteApplicant(<%=i%>)" value="삭제">
          </div>
        </div>
        <div class="applicant_list_info_status">
          <p>■ <%= Applicants[i].status %></p>
        </div>
        <div class="applicant_list_info_tag">
          <% for (let j=0; j<Applicants[i].userTags.length; j++) { %>
            <p><%= Applicants[i].userTags[j] %></p>
          <% } %>
        </div>
      </div>
      <div class="applicant_list_profile_subimgs">
        <% for (let j=0;j<6;j++){ %>
          <% if (Applicants[i].fileNames[j] != null) { %>
              <img src="https://domnc9j4gfidk.cloudfront.net/image/<%= Applicants[i].username%>/<%= Applicants[i].fileNames[j]%>" alt="구도 <%=j%>. 새로고침 필요">
          <% } else {%>
              <img src="https://domnc9j4gfidk.cloudfront.net/category/illustrator/<%=j%>_<%= curCategory.fileNames[j]%>" alt="">
          <% } %>
        <% } %>
      </div>
    </div>
  </div>
<hr>
<%}%>

<script type="text/javascript">
    function scrapApplicant(i){
      alert('즐겨찾기에 등록했습니다');
      let applicantId = document.getElementById('applicantId'+i).value;
      fetch("https://pofolup.com/scrapApplicant/"+applicantId, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
        }),
      });
    };
    function unscrapApplicant(i){
      alert('즐겨찾기에서 삭제했습니다');
      let applicantId = document.getElementById('applicantId'+i).value;
      fetch("https://pofolup.com/unscrapApplicant/"+applicantId, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
        }),
      });
    };
</script>

<script>
  let deleteApplicant = (i)=>{
    let result = confirm("정말 사용자를 삭제하시겠습니까?");
    if(result){
      let applicantId = document.getElementById('applicantId'+i).value;
      location.href = "/deleteApplicant/"+applicantId;
    }
  }
</script>
