<div id="detail_info">
  <div id="detail_info_left">
    <div id="detail_info_mainimage">
      <img src="https://domnc9j4gfidk.cloudfront.net/image/<%= Applicants[0].username%>/<%= Applicants[0].file%>">
    </div>
    <div id="detail_info_info">
      <img src="/images/05_mypage_03.jpg" alt="">
      <ul>
        <li>
          <%= Applicants[0].realname%>
        </li>
        <li>
          <%= Applicants[0].sex%>
        </li>
        <li>
          <%= Applicants[0].birth%>
        </li>
        <li>
          <%= Applicants[0].username%>
        </li>
        <li>
          <%= Applicants[0].phone%>
        </li>
      </ul>
    </div>
  </div>
  <div id="detail_info_middle">

  </div>
  <div id="detail_info_right">
      <div id="detail_info_style">
        <textarea name="name" rows="8" cols="160" disabled><%= Applicants[0].style %></textarea>
      </div>
      <div id="update_info">
        <form id="logoutButton" action="/logout" method="post">
          <input type="submit" value="로그아웃">
        </form>
        <a href="/updateApplicant/<%= user.username %>">정보수정</a>
      </div>
  </div>
</div>
<div id="detail_status">
  <div id="detail_status_mystatus">
    <img src="/images/05_mypage_14.jpg" alt="">
  </div>
  <div id="detail_status_radio">
    <input id="hiddenEmail" hidden type="text" name="username" value="<%= Applicants[0].username %>">
    <% if (Applicants[0].status == "언제든지 바로 일할 수 있어요") { %>
      <label><input id="status1" type="radio" onchange="changeStatus()" name="status" value="언제든지 바로 일할 수 있어요" checked>언제든지 바로 일할 수 있어요</label>
      <label><input id="status2" type="radio" onchange="changeStatus()" name="status" value="지금은 좀 바빠요">지금은 좀 바빠요</label>
    <% } else { %>
      <label><input id="status1" type="radio" onchange="changeStatus()" name="status" value="언제든지 바로 일할 수 있어요">언제든지 바로 일할 수 있어요</label>
      <label><input id="status2" type="radio" onchange="changeStatus()" name="status" value="지금은 좀 바빠요" checked>지금은 좀 바빠요</label>
    <% } %>
  </div>
  <div id="detail_status_admincheck">
    <%if (Applicants[0].checkDate != undefined){ %>
      <p>이 포트폴리오를 운영자가 <%=Applicants[0].checkDate%>에 확인하였습니다</p>
    <% } %>
  </div>
</div>

<script type="text/javascript">
    function changeStatus(){
      let radio1 = document.getElementById('status1');
      let radio2 = document.getElementById('status2');

      let statusvalue;
      if (radio1.checked){
        statusvalue = radio1.value;
      }else{
        statusvalue = radio2.value;
      }

      fetch("/changeStatus", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          username: document.getElementById('hiddenEmail').value,
          status: statusvalue
        }),
      });
    };
</script>
