<span id="applicantNumberforcapture" style="display:none;"><%= Applicants[0].applicantNumber %></span>
<span id="updateDateforcapture" style="display:none;"><%= Applicants[0].updateDate %></span>
<div id="admin_manage">
  <div id="admin_manage_adminPage">
    <a href="/adminPage/<%= Applicants[0].categories[0]%>/1"><img src="/images/06_view_03.jpg" alt=""></a>
  </div>
  <div id="admin_manage_nav">
    <p><b>사용자 관리 메뉴</b></p>
    <label>|</label>
    <div id="admin_manage_nav_items">
      <ul>
        <li>
          <button onclick="appointAdmin()">관리자 임명</button>
        </li>
        <li>
          <a href="/checkDateUpdate/<%= Applicants[0].username %>">관리자가 확인함</a> <br>
        </li>
        <li>
          <button onclick="captureProf()">포트폴리오 다운받기</button>
        </li>
        <li>
          <button onclick="deleteApplicant()">지원자 삭제</button>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="detail_info">
  <div id="detail_info_left">
    <div id="detail_info_mainimage">
      <img src="https://domnc9j4gfidk.cloudfront.net/image/<%= Applicants[0].username%>/<%= Applicants[0].file%>">
    </div>

  </div>
  <div id="detail_info_right">
    <div id="detail_info_right_title">
      <img src="/images/06_view_07.jpg" alt="">
      <p id="detail_info_right_applicantNumber">회원번호 : <%= Applicants[0].applicantNumber %></p>
    </div>
    <div id="detail_status">
      <p>
        ○ <%= Applicants[0].status%>
      </P>

    </div>

    <div id="detail_info_info">
      <ul>
        <li>
          <%= Applicants[0].realname%>
        </li>
        <li>
          <%= Applicants[0].sex%>
        </li>
        <li>
          <%= Applicants[0].birth%>
        </li>
        <li>
          <%= Applicants[0].username%>
        </li>
        <li>
          <%= Applicants[0].phone%>
        </li>
      </ul>
    </div>
    <div id="detail_info_style">
      <textarea name="name" rows="8" cols="160" disabled><%= Applicants[0].style %></textarea>
    </div>

    <div id="detail_info_url">
      <p>포트폴리오 URL : </p>
      <% if (Applicants[0].url != '') {%>
          <a href="<%= Applicants[0].url %>" target="_blank">포트폴리오 링크</a>
      <% } else { %>
          <p>포트폴리오 url 없음</p>
      <% } %>
    </div>
    <div id="detail_info_update">
      <div id="detail_info_tags">
        <% for (let i=0; i<Applicants[0].userTags.length; i++) { %>
          <div class="userTags">
              <p><%= Applicants[0].userTags[i] %></p>
              <form class="" action="/detachTag/<%= Applicants[0].username%>/<%= Applicants[0].userTags[i]%>/<%= user._id%>" method="post">
                <label for="tag<%=i%>"><img src="/images/deleteTag.png" alt=""></label>
                <input id="tag<%=i%>" type="submit" name="" value="태그 삭제하기">
              </form>
          </div>
        <% } %>
      </div>
      <p>최종 업데이트 : <%= Applicants[0].updateDate %></p>
    </div>
  </div>
</div>

<script>
  let deleteApplicant = ()=>{
    let result = confirm("정말 사용자를 삭제하시겠습니까?");
    if(result){
      location.href = "/deleteApplicant/<%= Applicants[0]._id %>"
    }
  }

  let appointAdmin = ()=>{
    let result = confirm("정말 사용자를 관리자로 임명하시겠습니까?");
    if(result){
      location.href = "/appointAdmin/<%= Applicants[0].username %>"
    }
  }
</script>

<script>
  window.onload = ()=>{
    let style = document.getElementById('detail_info_style_text').innerHTML;
    style = style.replaceAll("&lt;br&gt;", "<br>");
    document.getElementById('detail_info_style_text').innerHTML = style;
  }
</script>
