<% for(var i=0; i<Applicants.length; i++) { %>
  <div class="applicant_list_profile">
    <div class="applicant_list_profile_mainimg">
      <img src="https://domnc9j4gfidk.cloudfront.net/image/<%= Applicants[i].username%>/<%= Applicants[i].file%>">
    </div>
    <div class="applicant_list_detail">
      <div class="applicant_list_info">
        <div class="applicant_list_info_name">
          <div class="applicant_list_info_name_left">
            <a href="/applicants/<%= Applicants[i].username%>"><%= Applicants[i].realname%></a>
            <p><%= Applicants[i].sex %>&nbsp|&nbsp</p>
            <p><%= Applicants[i].birth %></p>
            <% if (Applicants[i].isAdmin) { %>
              <p>&nbsp&nbsp&nbsp&nbsp관리자</p>
            <% } %>
          </div>
          <div class="applicant_list_info_name_right">
            <a href="#">즐겨찾기 등록(함수 수정 필요)</a>
            &nbsp&nbsp|&nbsp&nbsp
            <a href="/deleteApplicant/<%= Applicants[i]._id %>">삭제</a>
          </div>
        </div>
        <div class="applicant_list_info_status">
          <p>■ <%= Applicants[i].status %></p>
        </div>
        <div class="applicant_list_info_tag">
          <% for (let j=0; j<Applicants[i].userTags.length; j++) { %>
            <p><%= Applicants[i].userTags[j] %></p>
          <% } %>
        </div>
      </div>
      <div class="applicant_list_profile_subimgs">
        <% for (let j=0;j<6;j++){ %>
          <% if (Applicants[i].fileNames[j] != null) { %>
              <img src="https://domnc9j4gfidk.cloudfront.net/image/<%= Applicants[i].username%>/<%= Applicants[i].fileNames[j]%>" alt="구도 0. 새로고침 필요">
          <% } else {%>
              <img src="/images/default_main.png" alt="">
          <% } %>
        <% } %>
      </div>
    </div>

  </div>
<hr>
<%}%>
