<form id="article_upload" action="/apply" method="post" enctype="multipart/form-data">
  <input hidden type="text" name="username" value="<%= Applicants[0].username %>">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <% if (!user.isAdmin) { %>
  <div id="article_notice">
    <div id="article_notice_notice">
      <p>Notice</p>
    </div>

    <div id="article_notice_content">
      <ul>
        <li>
          포폴업은 동일한 조건에서 공평한 판단을 위해 지정된 조건의 포트폴리오 수집하고 있습니다. 조건 항목이 업로드되어야 최종 제출이 가능하며, 협업 조건을 만족시킬 수 있습니다.
        </li>
        <li>
          포트폴리오와 프로필은 언제든지 자유롭게 수정이 가능하며, 수정 제출된 포트폴리오는 언제든지 담당자가 재확인할 수 있습니다.
        </li>
        <li>
          악의적이거나 장난식의 등록, 잦은 수정, 도용, 트레이싱 등의 경우 통보 없이 계정이 삭제될 수 있습니다.
        </li>
        <li>
          포트폴리오 업로드 기간은 제한이 없으며, [<a href="/notice/privacy" target="_blank">개인정보취급방침</a>]에 명시된 보관 기간에 따라 미등록 된 프로필은 삭제될 수 있습니다.
        </li>
        <li>
          작업물의 저작권은 작가 개인에게 있으며, 포폴업은 협업 판단을 위한 자료로만 쓰입니다. 또한, 타인에 의한 도용을 방지하기 위해 포트폴리오는 관리자와 업로드한 본인만 확인할 수 있습니다.
        </li>
      </ul>
    </div>
  </div>
  <% } %>
  <div class="article_upload_title">
      <img src="/images/06_view_11.jpg" alt="">
  </div>





  <% if (!user.isAdmin) { %>
  <div class="article_upload_desc">
      <textarea disabled id="categoryDesc1" name="categoryDesc" cols="30" rows="10" onchange="heightChange()"><%=curCategory.categoryDesc[0]%></textarea>
  </div>

  <% } %>
  <div class="article_upload_image">
    <div class="article_image">
      <% if (Articles[0].fileNames[0] != null) { %>
          <img id= "image_container_0" src="https://domnc9j4gfidk.cloudfront.net/image/<%= Applicants[0].username%>/<%= Articles[0].fileNames[0]%>" width="100px" , height="100px" alt="구도 0. 새로고침 필요">
      <% } else {%>
          <img id= "image_container_0" src="https://domnc9j4gfidk.cloudfront.net/category/illustrator/0_<%= curCategory.fileNames[0]%>" alt="">
      <% } %>

      <div class="upload_button">
        <textarea name="fileDesc" rows="8" cols="80" disabled><%=curCategory.fileDesc[0]%></textarea>
        <% if (!user.isAdmin) { %>
          <input type="file" id="image0" onchange="setThumbnail(event, 0);" name="0" accept=".jpg, .png"><br>
          <label for="image0">파일 선택</label>
        <% } %>
      </div>
    </div>
    <div class="article_image article_image_middle">
      <% if (Articles[0].fileNames[1] != null) { %>
          <img id= "image_container_1" src="https://domnc9j4gfidk.cloudfront.net/image/<%= Applicants[0].username%>/<%= Articles[0].fileNames[1]%>" width="100px" , height="100px" alt="구도 1. 새로고침 필요">
      <% } else {%>
          <img id= "image_container_1" src="https://domnc9j4gfidk.cloudfront.net/category/illustrator/1_<%= curCategory.fileNames[1]%>" alt="">
      <% } %>
      <div class="upload_button">
        <textarea name="fileDesc" rows="8" cols="80" disabled><%=curCategory.fileDesc[1]%></textarea>
        <% if (!user.isAdmin) { %>
          <input type="file" id="image1" onchange="setThumbnail(event, 1);" name="1" accept=".jpg, .png"><br>
          <label for="image1">파일 선택</label>
        <% } %>

      </div>
    </div>
    <div class="article_image">
      <% if (Articles[0].fileNames[2] != null) { %>
          <img id= "image_container_2" src="https://domnc9j4gfidk.cloudfront.net/image/<%= Applicants[0].username%>/<%= Articles[0].fileNames[2]%>" width="100px" , height="100px" alt="구도 2. 새로고침 필요">
      <% } else {%>
          <img id= "image_container_2" src="https://domnc9j4gfidk.cloudfront.net/category/illustrator/2_<%= curCategory.fileNames[2]%>" alt="">
      <% } %>
      <div class="upload_button">
        <textarea name="fileDesc" rows="8" cols="80" disabled><%=curCategory.fileDesc[2]%></textarea>
        <% if (!user.isAdmin) { %>
          <input type="file" id="image2" onchange="setThumbnail(event, 2);" name="2" accept=".jpg, .png"><br>
          <label for="image2">파일 선택</label>
        <% } %>

      </div>
    </div>
  </div>
  <% if (!user.isAdmin) { %>

  <p class="article_upload_title">Select Upload</p>
  <div class="article_upload_desc">
    <textarea disabled id="categoryDesc2" name="categoryDesc" cols="30" rows="10" onchange="heightChange()"><%=curCategory.categoryDesc[1]%></textarea>
  </div>
  <% } %>

  <div class="article_upload_image">
    <div class="article_image">
      <% if (Articles[0].fileNames[3] != null) { %>
          <img id= "image_container_3" src="https://domnc9j4gfidk.cloudfront.net/image/<%= Applicants[0].username%>/<%= Articles[0].fileNames[3]%>" width="100px" , height="100px" alt="구도 3. 새로고침 필요">
      <% } else {%>
          <img id= "image_container_3" src="https://domnc9j4gfidk.cloudfront.net/category/illustrator/3_<%= curCategory.fileNames[3]%>" alt="">
      <% } %>
      <div class="upload_button">
        <textarea name="fileDesc" rows="8" cols="80" disabled><%=curCategory.fileDesc[3]%></textarea>
        <% if (!user.isAdmin) { %>
          <input type="file" id="image3" onchange="setThumbnail(event, 3);" name="3" accept=".jpg, .png"><br>
          <label for="image3">파일 선택</label>
        <% } %>
      </div>
    </div>
    <div class="article_image article_image_middle">
      <% if (Articles[0].fileNames[4] != null) { %>
          <img id= "image_container_4" src="https://domnc9j4gfidk.cloudfront.net/image/<%= Applicants[0].username%>/<%= Articles[0].fileNames[4]%>" width="100px" , height="100px" alt="구도 4. 새로고침 필요">
      <% } else {%>
          <img id= "image_container_4" src="https://domnc9j4gfidk.cloudfront.net/category/illustrator/4_<%= curCategory.fileNames[4]%>" alt="">
      <% } %>
      <div class="upload_button">
        <textarea name="fileDesc" rows="8" cols="80" disabled><%=curCategory.fileDesc[4]%></textarea>
        <% if (!user.isAdmin) { %>
          <input type="file" id="image4" onchange="setThumbnail(event, 4);" name="4" accept=".jpg, .png"><br>
          <label for="image4">파일 선택</label>
        <% } %>
      </div>
    </div>
    <div class="article_image">
      <% if (Articles[0].fileNames[5] != null) { %>
          <img id= "image_container_5" src="https://domnc9j4gfidk.cloudfront.net/image/<%= Applicants[0].username%>/<%= Articles[0].fileNames[5]%>" width="100px" , height="100px" alt="구도 5. 새로고침 필요">
      <% } else {%>
          <img id= "image_container_5" src="https://domnc9j4gfidk.cloudfront.net/category/illustrator/5_<%= curCategory.fileNames[5]%>" alt="">
      <% } %>
      <div class="upload_button">
        <textarea name="fileDesc" rows="8" cols="80" disabled><%=curCategory.fileDesc[5]%></textarea>
        <% if (!user.isAdmin) { %>
          <input type="file" id="image5" onchange="setThumbnail(event, 5);" name="5" accept=".jpg, .png"><br>
          <label for="image5">파일 선택</label>
        <% } %>
      </div>
    </div>
  </div>
  <% if (!user.isAdmin) { %>
  <div id="article_upload_url">
    <p class="article_upload_title">(선택)포트폴리오 URL</p>
    <input id="url_input" type="text" name="url" value="<%= Articles[0].url %>">
    <ul>
      <li>
        - 포트폴리오는 PDF형태로 개인의 구글 드라이브를 이용하여 URL로 제출해주세요.
      </li>
      <li>
        - 포트폴리오의 용량은 20MB 이하로 제출 부탁드립니다.
      </li>
      <li>
        - 단순 이미지 파일, ZIP 형태의 포트폴리오는 확인하지 않습니다.
      </li>
    </ul>
  </div>
  <div id="article_upload_button">
    <div id="article_upload_button_desc">
      <p>[6개의 이미지를 전부 등록하면 자동으로 최종 제출이 완료딥니다. (임시 저장 가능)]</p>
    </div>
    <label for="article_submit">저장하기</label>
    <input type="text" id="verify" hidden value="<%=user.isVerified%>">
    <input type="button" onclick="uploadProfile()" id="article_submit">
  </div>
  <% } %>
</form>


<% if (!user.isAdmin) { %>
  <!-- 관리자가 아닐 경우 -->

<% } else{ %>
  <!-- 관리자일 경우 -->
  <div id="article_attachedTag">
    <img id="HashTag" src="/images/06_view_15.jpg" alt="">
    <div id="detail_info_tags">


      <% for (let i=0; i<Applicants[0].userTags.length; i++) { %>
        <div class="userTags">
            <p><%= Applicants[0].userTags[i] %></p>
            <form class="" action="/detachTag/<%= Applicants[0].username%>/<%= Applicants[0].userTags[i]%>/<%= user._id%>" method="post">
              <label for="tag<%=i%>"><img src="/images/deleteTag.png" alt=""></label>
              <input id="tag<%=i%>" type="submit" name="" value="태그 삭제하기">
            </form>
        </div>
      <% } %>
    </div>
  </div>

  <div id="article_attachTag">
    <p>tag 부여하기</p>
    <div id="article_attachTag_list">
      <% for (let i=0; i<curCategory.hashTags.length; i++) { %>
        <a href="/attachTag/<%= Applicants[0].username %>/<%= curCategory.hashTags[i]%>/<%= user._id%>"><%= curCategory.hashTags[i]%></a>
      <% } %>
    </div>
  </div>

<% } %>

<div class="popup-wrap" id="popup">
  <div class="popup">
    <div class="popup-header">
      <img src="/images/02_Top_13.jpg" alt="">
    </div>
    <div class="popup-body">
      <div class="popup-content">
        <div class="popup-content-titlebox">
          <h1></h1>
        </div>
        <div class="popup-content-contentbox">
          <p>포트폴리오를 업로드하려면 이메일 인증이 필요합니다.</p>
          <p>입력하신 이메일로 인증 url이 전송되었습니다.</p>
          <p>이메일로 전송된 url로 접속해주세요</p>
        </div>
      </div>
    </div>
    <div class="popup-footer">
      <span class="popup-button close" id="popup_close">확인</span>
    </div>
  </div>
</div>

<script>
  //화면 캡쳐
  function captureProf(){
    let filename = document.getElementById("applicantNumberforcapture").innerHTML;
    filename += "_";
    filename += document.getElementById("updateDateforcapture").innerHTML;
    filename += "_포트폴리오.jpg";
    html2canvas(document.getElementById("article_upload"),{
      allowTaint: false,
      useCORS: true
    }).then(canvas => {

      saveAs(canvas.toDataURL("image/jpg"), filename);
    });
    function saveAs(url, filename){
      var link = document.createElement('a');
      if (typeof link.download === 'string'){
        link.href = url;
        link.download = filename;
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
      } else{
        window.open(url);
      }
    }
  };
</script>


<script>
  //파일 업로드 시 미리보기
  function setThumbnail(event, num){
    let reader = new FileReader();
    console.log("image_container_"+num);
    reader.onload = (event)=>{
      document.getElementById("image_container_"+ num).src = event.target.result;
    };
    reader.readAsDataURL(event.target.files[0]);
  }
</script>

<script>
  function openPopup(){
    //console.log('openPopup');
    let bodyscroll = document.getElementById('popupscroll');
    bodyscroll.classList.toggle("popupscroll");
    document.querySelector('.popup-wrap').style.display = 'flex';
  }

  function uploadProfile(){
    let userVerified = document.getElementById('verify').value;
    let uploadform = document.getElementById('article_upload');
    if (userVerified == 'true'){
      uploadform.submit();
    }else{
      openPopup();
    }
  }
</script>

<script type="text/javascript">
//이메일 인증 팝업
window.onload = function(){
  function openPopup(){
    let bodyscroll = document.getElementById('popupscroll');
    bodyscroll.classList.toggle("popupscroll");
    document.querySelector('.popup-wrap').style.display = 'flex';
  }

  function confirmPopup(){
    let bodyscroll = document.getElementById('popupscroll');
    bodyscroll.classList.toggle("popupscroll");
    submitForm();
  }
  function closePopup(){
    let bodyscroll = document.getElementById('popupscroll');
    bodyscroll.classList.toggle("popupscroll");
    document.querySelector('.popup-wrap').style.display = 'none';
  }
  //document.getElementById('popup_open').addEventListener('click', openPopup);
  //document.getElementById('popup_confirm').addEventListener('click', confirmPopup);
  document.getElementById('popup_close').addEventListener('click', closePopup);

  let style = document.getElementById('detail_info_style_text').innerHTML;
  style = style.replaceAll("&lt;br&gt;", "<br>");
  document.getElementById('detail_info_style_text').innerHTML = style;
}

</script>

<script>
  function submitForm(){
    let form = document.getElementById('register_form');
    form.submit();
  }
</script>

<script>
//공지사항 높이
window.onload = function(){
  heightChange();
}
  function heightChange(){
    let textarea1 = document.getElementById('categoryDesc1');
    let textarea2 = document.getElementById('categoryDesc2');
    textarea1.style.height = '1px';
    textarea1.style.height = (12 + textarea1.scrollHeight) + 'px';
    textarea2.style.height = '1px';
    textarea2.style.height = (12 + textarea2.scrollHeight) + 'px';
  }
</script>
