<!DOCTYPE html>
<html lang="ko" dir="ltr">

<head>
  <%- include('./partials/head'); %>
</head>

<header>
  <%- include('./partials/header'); %>
</header>

<body>
  <div>

  </div>
  <div>
    <% if (login == false) { %>
    <p>아무도 로그인하지 않음</p>
    <p><%= login %></p>
    <% } else { %>
    <p> <%= user.realname %>님, 안녕하세요 </p>
    <p>로그인되어있나? : <%= login %></p>
    <p>관리자? : <%= user.isAdmin %></p>
    <form action="/logout" method="post">
      <input type="submit" value="Log out">
    </form>
    <a href="/logout">Logout</a>
    <% } %>
  </div>

  <div>
    <% for (let i=0; i < Categories.length; i++) { %>
      <a href="/adminPage/<%= Categories[i].categoryName %>/1"><%= Categories[i].categoryName%></a>
    <% } %>
  </div>

  <div>
    <h1> <%= curCategory.categoryName%> 지원자 데이터베이스</h1>
    <%- include('./partials/applicantTable'); %>
  </div>
  <div class="paging_div">
    <p>페이징. 총 <%= maxPage %>개의 페이지가 있음</p>
    <div class="paging">
      <% if (pageNum > 1) { %>
         <a class="pg" href="/adminPage/<%= category %>/1<%=queryString%>" class="pg">처음</a>
      <% } %>
      <% if (pageNum > 10) { %>
         <a href="/adminPage/<%= category %>/<%= parseInt((pageNum-1)/10)*10 %><%=queryString%>" class="pg">이전</a>
      <% } %>
      <% for (var i = parseInt((pageNum-1)/10)*10 + 1; i < parseInt((pageNum-1)/10)*10 + 11; i++) { %>
        <% if (i <= maxPage) { %>
          <a href="/adminPage/<%= category %>/<%= i %><%=queryString%>" class="pg"><%= i %></a>
        <% } %>
      <% } %>
      <% if (pageNum <= parseInt(maxPage/10)*10) { %>
         <a href="/adminPage/<%= category %>/<%= parseInt((pageNum-1)/10)*10+11 %><%=queryString%>" class="pg">다음</a>
      <% } %>
      <% if (pageNum != maxPage) { %>
         <a href="/adminPage/<%= category %>/<%=maxPage%><%=queryString%>" class="pg">맨끝</a>
      <% } %>
    </div>
  </div>

  <div>
    <!-- 검색 기능 -->
    <form action="/adminPage/<%= category %>/1" method="post">
      <br>
      <% for (let i=0; i<curCategory.hashTags.length; i++) { %>
        <% if (queryString.search(curCategory.hashTags[i]) != -1) { %>
          <label><input type="checkbox" name= hashTags value=<%= curCategory.hashTags[i] %> checked><%= curCategory.hashTagsName[i] %></label>
        <% } else { %>
          <label><input type="checkbox" name= hashTags value=<%= curCategory.hashTags[i] %> ><%= curCategory.hashTagsName[i] %></label>
        <% } %>
      <% } %>

      <br><label>이름으로 검색 : <input type="text" name="targetName" value=""></label>

      <input type="submit" value="검색">
    </form>
    <form action="/position/createTag/<%= category %>" method="post">
      <label>태그 추가하기(영어)<input type="text" name="newhashTag" required autocomplete="off"></label>
      <label>태그 추가하기(한글 설명)<input type="text" name="newhashTagName" required autocomplete="off"></label>
      <input type="submit" value="추가하기">
    </form>

    <p>태그 삭제하기</p>
    <% for (let i=0; i<curCategory.hashTags.length; i++) { %>
      <a href="/position/deleteTag/<%= curCategory.categoryName%>/<%= curCategory.hashTags[i]%>"><%= curCategory.hashTagsName[i]%></a>
    <% } %>
  </div>




  <footer>
    <%- include('./partials/footer'); %>
  </footer>
</body>


</html>
