<!DOCTYPE html>
<html lang="ko" dir="ltr">

<head>
  <link href="/styles/adminpage.css" rel="stylesheet" type="text/css">
  <%- include('./partials/head'); %>
<!--
  <style>
    div{
      border: 1px solid #ccc;
    }
    img{
      border: 1px solid #ccc;
    }
    form{
      border: 1px solid #23ab24;
    }
  </style>
-->
</head>

<body>
  <div id="container">
    <div id="header">
      <%- include('./partials/header'); %>
    </div>
    <div id="contents">
      <div id="sidebar">
        <form id="logoutButton" action="/logout" method="post">
          <input type="submit" value="Log out">
        </form>
        <form action="/adminPage/<%= category %>/1" method="post">
          <div id="sidebar_search">
            <select name="searchOption" id="sidebar_search_option">
              <option value="realname" selected>이름</option>
              <option value="applicantNumber">회원번호</option>
            </select>
            <input type="text" name="targetName" value="" placeholder="Search" autocomplete="off">
            <input type="submit" value="검색">
          </div>
          <div id="sidebar_category">
            <% for (let i=0; i < Categories.length; i++) { %>
              <a class="sidebar_category" href="/adminPage/<%= Categories[i].categoryName %>/1">---<%= Categories[i].categoryName%></a>
            <% } %>
            <a class="sidebar_category" href="/scrapList/illustrator/1">---Scrap List</a>
            <p class="sidebar_category">---#HashTag Category</p>
          </div>
          <div id="sidebar_hashtags">
            <% for (let i=0; i<curCategory.hashTags.length; i++) { %>
              <% if (queryString.search(curCategory.hashTags[i]) != -1) { %>
                <div class="sidebar_hashtag">
                  <label for="cb<%= i %>" class="checkboxframe"></label>
                  <label><input id="cb<%= i %>" type="checkbox" name= hashTags value="<%= curCategory.hashTags[i] %>" checked><%= curCategory.hashTags[i] %></label>
                </div>
              <% } else { %>
                <div class="sidebar_hashtag">
                  <label for="cb<%= i %>" class="checkboxframe"></label>
                  <label><input id="cb<%= i %>" type="checkbox" name= hashTags value="<%= curCategory.hashTags[i] %>" ><%= curCategory.hashTags[i] %></label>
                </div>
              <% } %>
            <% } %>
          </div>
        </form>
        <div id="sidebar_addtag">
          <form action="/createTag/<%= category %>" method="post">
            <input type="text" name="newhashTag" required autocomplete="off">
            <input type="submit" value="태그 추가하기">
          </form>
        </div>
        <div id="sidebar_deletetag">
          <p>태그 삭제하기</p>
          <% for (let i=0; i<curCategory.hashTags.length; i++) { %>
            <a href="/deleteTag/<%= curCategory.categoryName%>/<%= curCategory.hashTags[i]%>"><%= curCategory.hashTags[i]%></a>
          <% } %>
        </div>
      </div>
      <div id="applicant_list_container">

        <div id="applicant_list">
          <%- include('./partials/applicantTable'); %>
        </div>
        <div id="applicant_list_pagination">
          <div id="paging">
            <% if (pageNum > 1) { %>
               <a class="pg" href="/adminPage/<%= category %>/1<%=queryString%>">처음</a>
            <% } %>
            <% if (pageNum > 10) { %>
               <a href="/adminPage/<%= category %>/<%= parseInt((pageNum-1)/10)*10 %><%=queryString%>">이전</a>
            <% } %>
            <div>
              <% for (var i = parseInt((pageNum-1)/10)*10 + 1; i < parseInt((pageNum-1)/10)*10 + 11; i++) { %>
                <% if (i <= maxPage) { %>
                  <a href="/adminPage/<%= category %>/<%= i %><%=queryString%>">[<%= i %>]</a>
                <% } %>
              <% } %>
            </div>
            <% if (pageNum <= parseInt(maxPage/10)*10) { %>
               <a href="/adminPage/<%= category %>/<%= parseInt((pageNum-1)/10)*10+11 %><%=queryString%>">다음</a>
            <% } %>
            <% if (pageNum != maxPage) { %>
               <a href="/adminPage/<%= category %>/<%=maxPage%><%=queryString%>">맨끝</a>
            <% } %>
          </div>
        </div>

      </div>
    </div>
    <div id="footer">
      <%- include('./partials/footer'); %>
    </div>
  </div>
</body>


</html>
