<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
  <%- include('./partials/head'); %>

  <style type="text/css">

  </style>
  </head>



  <body>
    <header>
      <%- include('./partials/header'); %>
    </header>
    <form action="logout" method="post">
      <input type="submit" value="Log out">
    </form>
    <a href="/logout">Logout</a>

    <div class="container1">
      <p>지원자 프로필</p>
      <%- include('./partials/applicantTable'); %>
    </div>


    <div class="container2">
      <p>지원 내역</p>
      <%- include('./partials/articleTable'); %>
    </div>


  </body>

  <footer>
    <%- include('./partials/footer'); %>
  </footer>

</html>
