<!DOCTYPE html>
<html lang="ko" dir="ltr">

<head>
  <%- include('./partials/head'); %>
  <!-- 화면 캡처 -->
  <script type="text/javascript" src="/js/html2canvas.js"></script>
  <!-- <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script> -->
</head>



<body>

  <div id="container">
    <div id="header">
      <%- include('./partials/header'); %>
    </div>
    <div id="contents">
      <p>hello</p>
    </div>
    <div id="footer">
      <%- include('./partials/footer'); %>
    </div>
  </div>

  <span id="usernameforcapture" style="display:none;" value="<%= Applicants[0].realname %>"><%= Applicants[0].realname %></span>
  <form action="/logout" method="post">
    <input type="submit" value="Log out">
  </form>
  <a href="/logout">Logout</a>

  <div id="main_capture">
    <div class="applicant_detail">
      <p>지원자 프로필</p>
      <%- include('./partials/applicantDetail'); %>
    </div>


    <div class="article_table">
      <p>지원 내역</p>
      <%- include('./partials/articleTable'); %>
    </div>
  </div>
  <button onclick="captureProf()">프로필 다운로드</button>



  <script>
    function captureProf(){
      let filename = document.getElementById("usernameforcapture").innerHTML;
      filename += "_프로필.jpg";
      html2canvas(document.getElementById("main_capture"),{
        allowTaint: false,
        useCORS: true
      }).then(canvas => {

        saveAs(canvas.toDataURL("image/jpg"), filename);
      });
      function saveAs(url, filename){
        var link = document.createElement('a');
        if (typeof link.download === 'string'){
          link.href = url;
          link.download = filename;
          document.body.appendChild(link);
          link.click();
          document.body.removeChild(link);
        } else{
          window.open(url);
        }
      }
    };
  </script>

</body>

</html>
