<!DOCTYPE html>
<html lang="ko" dir="ltr">

<head>
  <%- include('./partials/head'); %>

  <% if (!user.isAdmin) { %>
    <link href="/styles/applicant.css" rel="stylesheet" type="text/css">
  <% } else { %>
    <link href="/styles/applicant_admin.css" rel="stylesheet" type="text/css">
  <% } %>
  <link href="/styles/article.css" rel="stylesheet" type="text/css">
<!--
  <style>
    div{
      border: 1px solid #ccc;
    }
    img{
      border: 1px solid #ccc;
    }
    form{
      border: 1px solid #23ab24;
    }
  </style>
-->
  <!-- 화면 캡처 -->
  <script type="text/javascript" src="/js/html2canvas.js"></script>
  <!-- <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script> -->
</head>



<body>

  <div id="container">
    <div id="header">
      <%- include('./partials/header'); %>
    </div>
    <div id="contents">
      <div id="applicant_detail">
        <% if (!user.isAdmin) { %>
          <%- include('./partials/applicantDetail'); %>
        <% } else { %>
          <%- include('./partials/applicantDetail_admin'); %>
        <% } %>

      </div>
      <div id="article_table">
        <%- include('./partials/articleTable'); %>
      </div>
    </div>
    <div id="footer">
      <%- include('./partials/footer'); %>
    </div>
  </div>

  <span id="usernameforcapture" style="display:none;" value="<%= Applicants[0].realname %>"><%= Applicants[0].realname %></span>
  


</body>

</html>
