<!DOCTYPE html>
<html lang="ko" dir="ltr">

<head>
  <%- include('./partials/head'); %>

  <link href="/styles/update.css" rel="stylesheet" type="text/css">
<!--
  <style>
    div{
      border: 1px solid #ccc;
    }
    img{
      border: 1px solid #ccc;
    }
    form{
      border: 1px solid #23ab24;
    }
  </style>
-->
<script>
  //파일 업로드 시 미리보기
  function setThumbnail(event, num){
    let reader = new FileReader();

    reader.onload = (event)=>{
      document.getElementById("image_container").src = event.target.result;
    };
    reader.readAsDataURL(event.target.files[0]);
  }
</script>

<script type="text/javascript">
  function registerTest(){
    let sendOK = true;

    let realname = document.getElementById('realname').value;
    let birth = document.getElementById('birth').value;
    let phone = document.getElementById('phone').value;


    let alertMessage = "";


    if (realname.length == 0){
      alertMessage += '이름을 입력해 주세요\n'
      sendOK = false;
    }

    let birthcheck = /^[0-9]{8}$/;
    if (!birthcheck.test(birth)){
      alertMessage += '생년월일은 YYYYMMDD 형식이어야 합니다 \n ex)20000101\n'
      sendOK = false;
    }
    let phonecheck = /^[0-9]{9,11}$/;
    if (!phonecheck.test(phone)){
      alertMessage += '핸드폰 번호 양식을 맞춰주세요\n ex)01011112222\n'
      sendOK = false;
    }

    if (sendOK == true){
      alert('수정되었습니다');
      submitForm();
    }else{
      alert(alertMessage);
    }
  }

  function submitForm(){
    let form = document.getElementById('update_form');
    form.submit();
  }
</script>

<script>
  let deleteApplicant = ()=>{
    let result = confirm("정말 포폴업에서 탈퇴하시겠습니까?");
    if(result){
      alert('회원탈퇴가 완료되었습니다.\n 그동안 포폴업을 이용해주셔서 감사합니다');
      let applicantId = document.getElementById('applicantId').value;
      location.href = "/deleteApplicant/"+applicantId;
    }
  }
</script>
</head>

<body>

  <div id="container">
    <div id="header">
      <%- include('./partials/header'); %>
    </div>
    <div id="contents">

      <form id="update_form" action="/updateApplicant/<%= Applicants[0].username %>" method="post" enctype="multipart/form-data">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input id="applicantId" type="text" hidden name="" value="<%= Applicants[0]._id %>">
        <div id="profile_information">

          <ul>
            <li class="profile_info">
              <div class="profile_info_key">
                <p>이 메 일</p>
              </div>
              <div class="profile_info_value">
                <input type="email" id="username" name="username" required value="<%=Applicants[0].username%>" readonly>
              </div>
              <div class="profile_info_desc">
                <p>실제 사용하는 이메일</p>
              </div>
            </li>

            <li class="profile_info">
              <div class="profile_info_key">
                <p>이 름</p>
              </div>
              <div class="profile_info_value">
                <input id="realname" type="text" name="realname" required value="<%= Applicants[0].realname %>">
              </div>
              <div class="profile_info_desc">
                <p>주민등록상 본명</p>
              </div>
            </li>

            <li class="profile_info">
              <div class="profile_info_key">
                <p>생 년 월 일</p>
              </div>
              <div class="profile_info_value">
                <!-- 나중에 input type 수정 필요 -->
                <input id="birth" type="text" name="birth" required value="<%=Applicants[0].birth%>">
              </div>
              <div class="profile_info_desc">
                <p>주민등록상 생년월일<br> ex)20000101</p>
              </div>
            </li>


            <li class="profile_info">
              <div class="profile_info_key">
                <p>핸 드 폰 번 호</p>
              </div>
              <div class="profile_info_value">
                <!-- 나중에 input type 수정 필요 -->
                <input id="phone" type="text" name="phone" required value="<%= Applicants[0].phone %>">
              </div>
              <div class="profile_info_desc">
                <p>하이픈(-) 제외 번호만 입력<br> ex)01011112222</p>
              </div>
            </li>

            <li class="profile_info_style">
              <div class="profile_info_key">
                <p>그 림 스 타 일</p>
              </div>
              <div class="profile_info_value">
                <!-- 나중에 input type 수정 필요 -->
                <textarea name="style" rows="8" cols="80" maxlength="300" wrap="hard" white-space="pre-wrap"><%= Applicants[0].style %></textarea>
              </div>
              <div class="profile_info_desc">
                <p>본인의 그림 스타일, 강점,<br>자신있는 장르 등을 설명해주세요.<br>(300자 이내)</p>
              </div>
            </li>

            <li class="profile_info">
              <div class="profile_info_key">
                <p></p>
              </div>
              <div id="user_agreement">
                <input onclick="registerTest()" class="upload_button" type="button" name="" value="수정하기">
              </div>
              <div id="deleteApplicant">
                <input onclick="deleteApplicant()" class="upload_button" type="button" name="" value="회원탈퇴">
              </div>
            </li>


          </ul>

        </div>
        <div id="profile_mainimage">
          <img id= "image_container" src="https://domnc9j4gfidk.cloudfront.net/image/<%= Applicants[0].username%>/<%= Applicants[0].file%>" width="500px" height="500px" alt="">
          <div class="upload_button">
            <label for="image">파일 선택</label>
            <input type="file" id="image" onchange="setThumbnail(event);" name="file" accept=".jpg, .png"><br>
          </div>
        </div>
      </form>
    </div>
    <div id="footer">
      <%- include('./partials/footer'); %>
    </div>
  </div>

  <span id="usernameforcapture" style="display:none;" value="<%= Applicants[0].realname %>"><%= Applicants[0].realname %></span>

</body>

</html>
