<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('./partials/head'); %>
</head>

<body>
  <header>
    <%- include('./partials/header'); %>
  </header><br>

  <div class="container1">
    <div class="main_banner">
      <img src="images/0.png" alt="" height="" width="">
    </div>
  </div>

  <div class="container2">

    <div>
      <% if (login == false) { %>
      <p>아무도 로그인하지 않음</p>
      <p><%= login %></p>
      <p>이미 지원했다면?</p>
      <form action="/userLogin" method="post">
        <label for="username">이메일</label><br>
        <input type="text" name="username" id="username" required><br>
        <label for="password">비밀번호</label><br>
        <input type="password" name="password" id="password" required><br><br><br>
        <input type="submit" value="로그인">
      </form>
      <a type="button" href="/position/register">회원가입 페이지</a><br>

      <% } else { %>
      <!-- 누군가 로그인되어있을 때 -->
      <p> <%= user.realname %>님, 안녕하세요 </p>
      <p>로그인되어있나? : <%= login %></p>
      <p>관리자? : <%= user.isAdmin %></p>
      <a type="button" href="/position/apply">지원하기 페이지</a><br>
      <a href="/applicants/<%= user.username %>">내 지원내역 보기</a><br>
      <a href="/logout">Logout</a>
      <% if (user.isAdmin) { %>
      <br><a href="/adminPage/1">전체 데이터베이스 보기</a>
      <% } %>
      <% } %>
    </div>
  </div>
  <footer>
    <%- include('./partials/footer'); %>
  </footer>
</body>


</html>
