<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('./partials/head'); %>
  <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-cly1{text-align:left;vertical-align:middle}
.tg .tg-lboi{border-color:inherit;text-align:left;vertical-align:middle}
</style>
</head>
<header>
  <%- include('./partials/header'); %>
</header>

<body>
  <p>Hello</p>

  <% for(var i=0; i<Articles.length; i++) { %>


  <table class="tg">
    <thead>
      <tr>
        <th class="tg-lboi">번호</th>
        <th class="tg-cly1">파일이름1</th>
        <th class="tg-cly1">파일이름2</th>
        <th class="tg-cly1">파일이름3</th>
        <th class="tg-cly1">추가사항</th>
        <th class="tg-cly1">url</th>
        <th class="tg-cly1">생성 날짜</th>
        <th class="tg-cly1">삭제 버튼</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="tg-cly1"><%= Articles.length-i %></td>
        <td class="tg-cly1"><img src="/uploads/<%= Articles[i].files[0]%>" width = "50px", height ="50px") alt=""> <br> <%= Articles[i].files[0]%></td>
        <td class="tg-cly1"><img src="/uploads/<%= Articles[i].files[1]%>" width = "50px", height ="50px") alt=""> <br> <%= Articles[i].files[1]%></td>
        <td class="tg-cly1"><img src="/uploads/<%= Articles[i].files[2]%>" width = "50px", height ="50px") alt=""> <br> <%= Articles[i].files[2]%></td>
        <td class="tg-cly1"><%= Articles[i].comment%></td>
        <td class="tg-cly1"><%= Articles[i].url%></td>
        <td class="tg-cly1"><%= Articles[i].createDate%></td>

        <td class="tg-cly1"> <button></button> </td>
      </tr>
      </tbody>
    </table>
    <br><br>
  <% } %>

  </body>
  <footer>
    <%- include('./partials/footer'); %>
      </footer>

</html>
