<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include('./partials/head'); %>
  <link href="/styles/notice.css" rel="stylesheet" type="text/css">
  <link href="/styles/noticeboard.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div id="container">

    <div id="header">
      <%- include('./partials/header'); %>
    </div>

    <div id="contents">
      <div id="notice_header">
        <h2>공지사항</h2>
      </div>
      <div id="noticeboard">
        <ul>
          <li>
            <div class="notice_noticeNumber">
              <p>글번호</p>
            </div>
            <div class="notice_title">
              <p>제목</p>
            </div>
            <div class="notice_adminName">
              <p>작성자</p>
            </div>
            <div class="notice_createDate">
              <p>작성일</p>
            </div>
          </li>
          <% for (let i=0; i<Notices.length; i++) { %>
            <li>
              <div class="notice_noticeNumber">
                <p><%= Notices[i].noticeNumber %></p>
              </div>
              <div class="notice_title">
                <a href="/noticeboard/views/<%= Notices[i].noticeNumber %>"><p><%= Notices[i].title %></p></a>
              </div>
              <div class="notice_adminName">
                <p><%= Notices[i].adminName %></p>
              </div>
              <div class="notice_createDate">
                <p><%= Notices[i].createDate.slice(0,10) %></p>
              </div>
            </li>
          <%}%>
        </ul>

      </div>
      <div id="util">
        <div id="notice_list_pagination">
          <div id="createNotice">
            <% if (user != undefined){%>
              <% if (user.isAdmin == true) { %>
                <a href="/noticeboard/create">글쓰기</a>
              <%}%>
            <%}%>

          </div>
          <div id="paging">
            <% if (pageNum > 1) { %>
               <a class="pg" href="/noticeboard/1">[처음]</a>
            <% } %>
            <% if (pageNum > 10) { %>
               <a href="/noticeboard/<%= parseInt((pageNum-1)/10)*10 %>">[이전]</a>
            <% } %>
            <div>
              <% for (var i = parseInt((pageNum-1)/10)*10 + 1; i < parseInt((pageNum-1)/10)*10 + 11; i++) { %>
                <% if (i <= maxPage) { %>
                  <a href="/noticeboard/<%= i %>">[<%= i %>]</a>
                <% } %>
              <% } %>
            </div>
            <% if (pageNum <= parseInt(maxPage/10)*10) { %>
               <a href="/noticeboard/<%= parseInt((pageNum-1)/10)*10+11 %>">[다음]</a>
            <% } %>
            <% if (pageNum != maxPage) { %>
               <a href="/noticeboard/<%=maxPage%>">[맨끝]</a>
            <% } %>
          </div>
        </div>
      </div>

    </div>

    <div id="footer">
      <%- include('./partials/footer'); %>
    </div>

  </div>
</body>



</html>
