<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include('./partials/head'); %>

  <link href="/styles/noticeboard.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div id="container">

    <div id="header">
      <%- include('./partials/header'); %>
    </div>

    <div id="contents">
      <div class="article_title">
        <div>
          <a href="/noticeboard">뒤로 돌아가기</a>
        </div>
        <div class="notice_info_key">
          <p>제목</p>
        </div>
        <div class="notice_info_value">
          <p><%= Notices[0].title %></p>
        </div>
        <div class="">

        </div>
      </div>
      <div>
        <img src="https://domnc9j4gfidk.cloudfront.net/notice/<%= Notices[0].title %>/<%= Notices[0].file%>">
      </div>
      <div class="article_content">
        <div class="notice_info_key">
          <p></p>
        </div>
        <div class="notice_info_value">
          <p><%= Notices[0].content %></p>
        </div>
      </div>
    </div>

    <div id="footer">
      <%- include('./partials/footer'); %>
    </div>

  </div>
</body>



</html>
