<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include('./partials/head'); %>

  <link href="/styles/noticeboard.css" rel="stylesheet" type="text/css">
  <script>
    let deleteNotice = ()=>{
      let result = confirm("정말 공지사항을 삭제하시겠습니까?");
      if(result){
        alert('공지사항이 삭제되었습니다');
        let noticeNumber = document.getElementById('noticeNumber').value;
        location.href = "/noticeboard/deleteNotice/"+noticeNumber;
      }
    }
  </script>
</head>

<body>
  <div id="container">

    <div id="header">
      <%- include('./partials/header'); %>
    </div>

    <div id="contents">
      <input id="noticeNumber" type="text" hidden name="" value="<%= Notices[0].noticeNumber %>">
      <div class="notice_info_title">
        <div>
          <a href="/noticeboard/1"><img src="/images/06_view_03.jpg" alt=""></a>
          <% if (user != undefined){%>
            <% if (user.isAdmin == true) { %>
              <input onclick="deleteNotice()" class="upload_button" type="button" name="" value="삭제">
            <%}%>
          <%}%>
        </div>
        <div class="notice_info_key">
          <p><%= Notices[0].title %></p>
        </div>
      </div>
      <div class="notice_info_image">
        <% if (Notices[0].file != undefined){ %>
          <img src="https://domnc9j4gfidk.cloudfront.net/notice/<%= Notices[0].title %>/<%= Notices[0].file%>">
        <% } %>
      </div>
      <div class="notice_content">
        <div class="notice_info_value">
          <p><%= Notices[0].content %></p>
        </div>
      </div>
    </div>

    <div id="footer">
      <%- include('./partials/footer'); %>
    </div>

  </div>
</body>



</html>
